<!--footer-->
<footer class="footer1">
    <div class="container">

        <div class="row">
            <!-- row -->

            <div class="col-lg-4 col-md-4">
                <!-- widgets column left -->
                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->

                    <li class="widget-container widget_nav_menu">
                        <!-- widgets list -->

                        <h1 class="title-widget">Company</h1>

                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Blog</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Terms and Conditions</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Testimonials</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  FAQs</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Cancellation/Refund</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Partner with Us</a></li>
                        </ul>

                    </li>

                </ul>


            </div>
            <!-- widgets column left end -->

            <div class="col-lg-4 col-md-4">
                <!-- widgets column left -->

                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->

                    <li class="widget-container widget_nav_menu">
                        <!-- widgets list -->

                        <h1 class="title-widget">Follow us on</h1>

                        <ul>
                            <li>
                                <a href="https://www.facebook.com/vepark"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                <a href="https://twitter.com/vepark"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                                <a href="https://plus.google.com/+VePark-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- widgets column left end -->


            <div class="col-lg-4 col-md-4">
                <!-- widgets column center -->

                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->

                    <li class="widget-container widget_recent_news">
                        <!-- widgets list -->

                        <h1 class="title-widget">Contact Detail </h1>

                        <div class="footerp">

                            <h2 class="title-median">VePark Pvt. Ltd.</h2>
                            <p><b>Email id:</b> <a href="mailto:info@vepark.com">info@vepark.com</a></p>
                            <p><b>Helpline Numbers </b>

                                <b style="color:#ffc106;">(8AM to 10PM):</b> +91-8130890099, +91-8130190013 </p>

                            <p><b>Corp Office / Postal Address</b></p>
                            <p><b>Phone Numbers : </b>7042827160, </p>
                            <p> 801-27568832, 9868387223</p>
                        </div>

                        <div class="social-icons">

                            <ul class="nomargin">                                
                                <a href="mailto:vepark@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--header-->

<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div >
                <div class="copyright" align="center">
                    © 2017, VePark, All rights reserved
                </div>
            </div>  
        </div>
    </div>
</div>