<div class="container">
    <div class="page-header text-center" style="color:darkorange">
        <h2>Find a parking space for your vehicle</h2>
    </div>
    <hr>
    <hr>
</div>

<section>
    <div>
        <div class="container text-center">
            <form action="" class="form-inline">
                <div class="form-group">                    
                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Searh by location e.g Jayanagar 4th Block, Bengaluru"
                        [(ngModel)]="address1" (setAddress)="getAddress($event)" googleplace>
                </div>
                <div class="form-group">
                    <label for="fromDate">From:</label>
                    <input type="date" class="form-control" id="fromDate">
                </div>
                <div class="form-group">
                    <label for="toDate">To:</label>
                    <input type="date" class="form-control" id="toDate">
                </div>
                <button type="submit" class="btn btn-info">Search</button>               
                <hr>
            </form>
        </div>
    </div>
</section>

<div>
    <div class="text-center">
        <h2>OR</h2>
    </div>
</div>

<section>
    <div>
        <div class="container text-center">
            <form action="" class="form-inline">
                <hr>
                <button class="btn btn-lg btn-warning">Post your space and get paid</button>
                <hr>
            </form>
        </div>
    </div>
</section>

<div class="container">
        <div class="row">
            <div class="col-sm-6">

                <input class="btn btn-default btn-block" type="button" value="Get current position" (click)="getCurrentPosition()">
                
                <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="warning">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> {{ message }}
                </div>

                <!--these properties are required: center, zoom-->
                <google-map [center]="center" [zoom]="zoom" [disableDefaultUI]="disableDefaultUI" [disableDoubleClickZoom]="disableDoubleClickZoom"
                    [mapTypeId]="mapTypeId" [maxZoom]="maxZoom" [minZoom]="minZoom" [styles]="styles">
                    <!--this property is required: position-->
                    <google-map-marker [position]="position" [title]="title" [content]="content">
                    </google-map-marker>
                </google-map>

                <br>

                <div class="form-group">
                    <label class="control-label" for="input-search">Address</label>
                    <div class="input-group">
                        <input type="text" id="input-search" class="form-control" [(ngModel)]="address" (keyup.enter)="search(address)" placeholder="Address">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-fab btn-fab-mini" title="search" (click)="search(address)">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <input class="btn btn-default btn-block" type="button" value="Get current position" (click)="getCurrentPosition()">
            </div>
        </div>
    </div>

<!-- Gallery -->
<!--<div class="container">
    <section>
        <div class="page-header text-center" id="gallery">
            <h2>Gallery.<small> Check out the Awesome Gallery</small></h2>
        </div>

        <div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#screenshot-carousel" data-slide-to="1"></li>
                <li data-target="#screenshot-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="./src/app/assets/images/highway.jpg" alt="Text of the image">
                    <div class="carousel-caption">
                        <h3>Highway heading</h3>
                        <p>This is the caption</p>
                    </div>
                </div>
                <div class="item">
                    <img src="./app/assets/images/river.jpg" alt="Text of the image">
                    <div class="carousel-caption">
                        <h3>River heading</h3>
                        <p>This is the caption</p>
                    </div>
                </div>
                <div class="item">
                    <img src="./app/assets/images/painting.jpg" alt="Text of the image">
                    <div class="carousel-caption">
                        <h3>Painting heading</h3>
                        <p>This is the caption</p>
                    </div>
                </div>

            </div>
            <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </section>
</div>-->

<div class="container">
    <section>
        <div class="page-header text-center" id="features">
            <h2><em>Why use VePark</em></h2>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h3><b>Free Listing</b></h3>
                <p>Easy listing process</p>
            </div>
            <!-- <div class="col-sm-4"> -->
            <!-- <img src="imac.jpg" class="img-responsive" alt="image"> -->
            <!-- </div> -->

            <div class="col-sm-4">
                <h3><b>Search & shortlist by location</b></h3>
                <p>Extensive options to find a suitable space</p>
            </div>

            <div class="col-sm-4">
                <h3><b>Book and select easily</b></h3>
                <p>Option to reserve within seconds by paying online</p>
            </div>

            <div class="col-sm-4">
                <h3><b>Partner with us</b></h3>
                <p>Option to collaborate with us to handle your spaces</p>
            </div>

            <div class="col-sm-4">
                <h3><b>Flexibility to subscribe</b></h3>
                <p>Option to avail the space only when you need it</p>
            </div>

            <div class="col-sm-4">
                <h3><b>Hassle free parking</b></h3>
                <p>Get relieved from all nightmares of parking in no parking zone</p>
            </div>
        </div>
        <hr>
    </section>
</div>


<div class="container">
    <section>
        <div class="page-header text-center" id="faq">
            <h2><b><em>How it works</em></b></h2>
        </div>
        <!-- End Page Header -->

        <div class="panel-group" id="accordion">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#collapse-1" data-toggle="collapse" data-parent="#accordion">
                  Search
                </a>
                    </div>
                    <!-- End panel title -->
                    <div id="collapse-1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Anytime anywhere search for a space that suits your requirement
                        </div>
                    </div>
                    <!-- End Panel collapse -->
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#collapse-2" data-toggle="collapse" data-parent="#accordion">
                  Reserve
                </a>
                    </div>
                    <!-- End panel title -->
                    <div id="collapse-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Book the parking space which has been shortlisted by you and pay online to confirm
                        </div>
                    </div>
                    <!-- End Panel collapse -->
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#collapse-3" data-toggle="collapse" data-parent="#accordion">
                  Park
                </a>
                    </div>
                    <!-- End panel title -->
                    <div id="collapse-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Park your vehicle and get relieved from all nightmares which occurs from parking in noparking zone
                        </div>
                    </div>
                    <!-- End Panel collapse -->
                </div>
            </div>
        </div>
        <!-- End panel group -->

    </section>
</div>